body {
    background-color: yellow;
}

h1.center {
	font-family: arial; 
    color: navy;
    text-align: center; 
    margin-top: 10px; 
}
p.center {
	font-family: georgia; 
    color: purple;
    text-align: center; 
    font-weight: bold; 
}
div.video {
	margin-top: 40px; 
	text-align: center; 
}

.button1 {
	font-family: georgia;
	color: white; 
	background-color: teal; 
	font-size: 20px; 
	padding: 10px;
	border: 0px; 
}



