body {
    background-color: rgb(220,220,220);
}

.duckduck {
	position: relative; 
	margin: 20px; 
	bottom: -30px;  

}

h1 { 
	font-family: georgia;
	margin: 40px; 
}

.searchbar {
    padding:5px 13px;
    border: 0px;   
    font-size: 20px;
   
}
.submit {
	position: relative; 
	left: -4px; 
	padding:5px 13px;
	border: 0px; 
	background: #2db82d; 
 	font-family: verdana;
 	font-size: 20px; 

	
}


